<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="LaunchSettings" type ="LaunchWait.Configuration.Section, LaunchWait"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <LaunchSettings>
    <Process name="Firefox" delay='5' path='C:\Program Files (x86)\Mozilla Firefox\firefox.exe'  />
    <Process name="Firefox2" delay='5' path='C:\Program Files (x86)\Mozilla Firefox\firefox.exe'  />
    <Process name="Firefox3" delay='5' path='C:\Program Files (x86)\Mozilla Firefox\firefox.exe'  />
    <Process name="Firefox4" delay='5' path='C:\Program Files (x86)\Mozilla Firefox\firefox.exe'  />
    <Process name="Firefox5" delay='5' path='C:\Program Files (x86)\Mozilla Firefox\firefox.exe'  />
    <Process name="Firefox6" delay='5' path='C:\Program Files (x86)\Mozilla Firefox\firefox.exe'  />
  </LaunchSettings>
</configuration>