<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="LaunchSettings" type ="LaunchWait.Configuration.Section, LaunchWait"/>
  </configSections>
  <LaunchSettings>
    <Process name="Skype" delay='10' path='C:\Program Files (x86)\Skype\Phone\Skype.exe' />
    <Process name="Firefox" delay='5' path='C:\Program Files (x86)\Mozilla Firefox\firefox.exe'  />
  </LaunchSettings>
</configuration>